<ion-content *ngIf="!addingStuff">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        New Shift
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>


      <ion-row no-padding>
        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Start</ion-label>
            <ion-datetime
            minuteValues="0,5,10,15,20,25,30,35,45,50,55"
            (ionChange)="setMinEndDate($event)"
            placeholder="End" displayFormat="H:mm" pickerFormat="DD MMM YYYY H:mm" [(ngModel)]="shift.start1">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">End</ion-label>
            <ion-datetime
            minuteValues="0,5,10,15,20,25,30,35,45,50,55" [disabled]="!startWasSelected" placeholder="End" displayFormat="H:mm" [min]="minTime" pickerFormat="DD MMM YYYY H:mm" [(ngModel)]="shift.end1">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Penalty</ion-label>
            <ion-select placeholder="Select" [(ngModel)]="shift.penalty1">

              <ion-select-option *ngFor="let pen of penalties" [value]="pen.value">

                {{ pen.display }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <div *ngIf="addingPenalty1">
        <ion-row no-padding>
          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Start</ion-label>
              <ion-datetime
              minuteValues="0,5,10,15,20,25,30,35,45,50,55"
              (ionChange)="setMinEndDate2($event)"
              placeholder="Start" display-format="H:mm" picker-Format="DD MMM YYYY H:mm" [(ngModel)]="shift.start2">
              </ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">End</ion-label>
              <ion-datetime
              minuteValues="0,5,10,15,20,25,30,35,45,50,55" [disabled]="!start2WasSelected" placeholder="End" display-format="H:mm" [min]="minTime2" picker-Format="DD MMM YYYY H:mm" [(ngModel)]="shift.end2">
              </ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-select placeholder="Pen" [(ngModel)]="shift.penalty2">

                <ion-select-option *ngFor="let pen of penalties" [value]="pen.value">

                  {{ pen.display }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>


        </ion-row>

      </div>

      <div *ngIf="addingPenalty2">
        <ion-row no-padding>
          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Start</ion-label>
              <ion-datetime
              minuteValues="0,5,10,15,20,25,30,35,45,50,55"
              (ionChange)="setMinEndDate3($event)"
              placeholder="Start" display-format="H:mm" picker-Format="DD MMM YYYY H:mm" (ngModel)="shift.start3">
              </ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">End</ion-label>
              <ion-datetime
              minuteValues="0,5,10,15,20,25,30,35,45,50,55" [disabled]="!start3WasSelected" placeholder="End" display-format="H:mm" [min]="minTime3" picker-Format="DD MMM YYYY H:mm" [(ngModel)]="shift.end3">
              </ion-datetime>
            </ion-item>
          </ion-col>


          <ion-col size="4">
            <ion-item>
              <ion-select (ngModel)="shift.penalty3" placeholder="Pen">

                <ion-select-option *ngFor="let pen of penalties" [value]="pen.value">

                  {{ pen.display }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

        </ion-row>
      </div>



<ion-row no-padding>

  <ion-col size="6">
    <ion-item>
      <ion-label position="stacked">Rate</ion-label>
      <ion-input (ionChange)="getRate($event)" placeholder="Add Rate" (ngModel)=shift.rate type="number" min="1" [value]="[shift.rate]"></ion-input>
    </ion-item>
    <ion-item *ngIf="rateError" lines="none">
      <ion-text color="danger">Minimum rate is 1</ion-text>
    </ion-item>
  </ion-col>

  <ion-col size="6">
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select (ionChange)="getStatus($event)" placeholder="Select" (ngModel)=shift.paid>
        <ion-row no-padding>
          <ion-col>
            <ion-select-option [value]="true">Paid</ion-select-option>
            <ion-select-option [value]="false">Unpaid</ion-select-option>
          </ion-col>
        </ion-row>
      </ion-select>
    </ion-item>
  </ion-col>

  <ion-col size="12">
    <ion-item>
      <ion-label position="stacked">Employer</ion-label>
      <ion-select [(ngModel)]="shift.employerId" placeholder="Select One">
        <ion-row no-padding>
          <ion-col>
            <ion-select-option *ngFor="let emp of employers" [value]="emp.id">

              {{ emp.name }}</ion-select-option>
          </ion-col>
        </ion-row>
      </ion-select>
    </ion-item>
  </ion-col>

  <ion-col size="12">
    <ion-item>
      <ion-label position="stacked">Location</ion-label>
      <ion-select [(ngModel)]="shift.locationId" placeholder="Select One">
        <ion-row no-padding>
          <ion-col>
            <ion-select-option *ngFor="let loc of locations" [value]="loc.id">

              {{ loc.name }}</ion-select-option>
          </ion-col>
        </ion-row>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row no-padding *ngIf="!addingPenalty1">
  <ion-col size="12">
    <ion-button expand="full" color="medium" (click)="addPenalty()">
     Add Penalty
    </ion-button>
  </ion-col>
</ion-row>

<ion-row no-padding *ngIf="addingPenalty1 && !addingPenalty2">
  <ion-col size="12">
    <ion-button expand="full" color="primary" (click)="addPenalty2()">
     Add Penalty
    </ion-button>
  </ion-col>
</ion-row>


      <ion-row no-padding>
        <ion-col size="6">
          <ion-button expand="full" color="danger" (click)="close()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="full" color="success" (click)="addShift()"
            [disabled]="disableButton"
            >
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row no-padding *ngIf="!addingPenalty1">
        <ion-col size="12">
          <ion-button expand="full" color="primary" (click)="manageEmployers()">
            Manage Employers
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row no-padding *ngIf="!addingPenalty1">
        <ion-col size="12">
          <ion-button expand="full" color="primary" (click)="manageLocations()">
            Manage Locations
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
