ion-toolbar {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
}

.main-title {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: Blue;
}

ion-label {
  margin-top: 20px;
  font-weight: 700;
}

.span-bold {
  font-weight: 700;
}

.help-body {
  font-size: 18px;
}
